.home-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 75%;
    background-color: rgb(18, 18, 18);
    color: white;
}

.home-div .div1,
.home-div .div2 {
    background: linear-gradient(to bottom, rgb(52, 3, 3), rgb(18, 18, 18));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    height: 250px;
    width: 75%;
}

.home-div .div1 .heading h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 5px;
}

.home-div .div1 .song-elements,
.home-div .div2 .elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.home-div .div1 .song-elements .song-ele {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 320px;
    height: 60px;
    background: rgb(53, 43, 43);
    border-radius: 7px;
    margin: 5px;
    cursor: pointer;
}

.home-div .div1 .song-elements .song-ele:hover {
    background-color: rgb(89, 68, 65);
}

.home-div .div1 .song-elements .song-ele img {
    height: 60px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.home-div .div1 .song-elements .song-ele h4 {
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
}

.home-div .div2 {
    background: rgb(18, 18, 18);
}

.home-div .div2 .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-div .div2 .heading h4 {
    font-size: 15px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 20px;
    color: rgb(141, 141, 141);
    cursor: pointer;
}

.home-div .div2 .heading h4:hover {
    color: white;
    text-decoration: underline;
}

.home-div .div2 .heading h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 20px;
    cursor: pointer;
}

.home-div .div2 .heading h2:hover {
    text-decoration: underline;
}

.home-div .div2 .elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.home-div .div2 .elements .ele {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 240px;
    background: rgb(111, 74, 69);
    border-radius: 10px;
    margin: 5px;
    margin-right: 20px;
    padding: 5px;
    background-color: rgb(24 24 24);
    cursor: pointer;
}

.home-div .div2 .elements .ele:hover {
    background-color: rgb(40, 40, 40);
}

.home-div .div2 .elements .ele img {
    height: 150px;
    width: 150px;
    padding: 10px;
    border-radius: 10%;
}

.home-div .div2 .elements .ele h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 4px;
    margin-left: 1px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.home-div .div2 .elements .ele h4 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 0;
    padding-left: 10px;
    color: rgb(141, 141, 141);
}

.home-div .div2 .elements .ele .img {
    border-radius: 50%;
}
