.search-div {
    display: flex;
    flex-direction: column;
    background-color: rgb(18, 18, 18);
    width: 72vw;
    color: white;
    margin-left: 27vw;
    margin-top: 8vh;
}

.search-div .recent-div,
.search-div .div2 {
    margin-left: 20px;
}

.search-div .recent-div h2,
.search-div .div2 h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 10px;
}

.search-div .recent-div .r-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-div .recent-div .r-elements .ele {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 250px;
    background: rgb(111, 74, 69);
    border-radius: 10px;
    margin: 5px;
    margin-right: 20px;
    padding: 5px;
    background-color: rgb(24 24 24);
    cursor: pointer;
}

.search-div .recent-div .r-elements .ele:hover {
    background-color: rgb(40, 40, 40);
}

.search-div .recent-div .r-elements .ele img {
    height: 150px;
    width: 150px;
    padding: 10px;
    border-radius: 10%;
}

.search-div .recent-div .r-elements .ele h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 4px;
    margin-left: 1px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.search-div .recent-div .r-elements .ele h4 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 0;
    padding-left: 10px;
    color: rgb(141, 141, 141);
}

.search-div .recent-div .r-elements .ele .img {
    border-radius: 50%;
}

.search-div .div2 .b-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

.search-div .div2 .b-elements .ele {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 190px;
    border-radius: 15px;
    margin: 6px;
    padding: 5px;
    background-color: hsl(223, 54%, 25%);
    cursor: pointer;
}

.search-div .div2 .b-elements .ele:hover {
    background-color: rgb(40, 40, 40);
}

.search-div .div2 h3 {
    margin-top: 4px;
    font-size: 22px;
    font-weight: 550;
    margin-left: 15px;
}
