.sidebar-div {
    display: flex;
    flex-direction: column;
    height: 89vh;
    width: 25vw;
    color: rgb(168, 168, 168);
    position: fixed;
    top: 10px;
}

.active {
    color: white;
}

.middle,
.top {
    position: sticky;
    top: 0;
    z-index: 1;
}

.sidebar-div .top {
    padding: 10px;
    background-color: rgb(18, 18, 18);
    margin-bottom: 10px;
    border-radius: 10px;
}

.home-btn,
.search-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 10px;
    cursor: pointer;
    margin-left: 15px;
}

.home-btn:hover,
.search-btn:hover {
    color: white;
}

.home-btn span,
.search-btn span {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 20px;
}

.home-btn .home-icon,
.search-btn .search-icon {
    font-size: 1.7rem;
}

.sidebar-div .middle {
    padding: 5px 10px;
    background-color: rgb(18, 18, 18);
    color: rgb(168, 168, 168);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.sidebar-div .middle .lib-head {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.sidebar-div .middle .lib-head .lib-side {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar-div .middle .lib-head .lib-side:hover {
    color: white;
}

.sidebar-div .middle .lib-head .lib-side .music-icon {
    font-size: 1.7rem;
    margin-right: 15px;
    align-items: center;
}

.sidebar-div .middle .lib-head .lib-side span {
    font-size: 1.1rem;
}

.sidebar-div .middle .lib-head .lib-rs .app-icon,
.sidebar-div .middle .lib-head .lib-rs .arrow-icon {
    font-size: 1.5rem;
    margin: 2px 5px;
    cursor: pointer;
}

.sidebar-div .middle .lib-head .lib-rs .app-icon:hover,
.sidebar-div .middle .lib-head .lib-rs .arrow-icon:hover {
    color: white;
    background-color: rgb(39, 39, 39);
    border-radius: 50%;
}

.sidebar-div .middle .lib-keyword {
    margin-top: 15px;
    padding-left: 10px;
}

.sidebar-div .middle .lib-keyword span {
    font-size: 14px;
    background-color: rgb(42, 42, 42);
    color: white;
    margin-right: 10px;
    padding: 6px 10px;
    border-radius: 15px;
    cursor: pointer;
}

.sidebar-div .bottom {
    padding: 15px 10px;
    background-color: rgb(18, 18, 18);
    color: rgb(168, 168, 168);
}

.sidebar-div .bottom .bottom-head {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.sidebar-div .bottom .bottom-head .search-icon,
.sidebar-div .bottom .bottom-head .list-icon {
    font-size: 1.2rem;
    padding: 5px;
}

.sidebar-div .bottom .bottom-head .search-icon:hover,
.sidebar-div .bottom .bottom-head .list-icon:hover {
    color: white;
    background-color: rgb(39, 39, 39);
    border-radius: 50%;
}

.sidebar-div .bottom .bottom-body {
    overflow-y: auto;
    padding-top: 5px;
}

.sidebar-div .bottom .bottom-body .bb-element {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar-div .bottom .bottom-body .bb-element:hover {
    background-color: rgb(26, 26, 26);
}

.sidebar-div .bottom .bottom-body .bb-element img {
    height: 47px;
    width: 47px;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 18px;
}

.sidebar-div .bottom .bottom-body .bb-element .pl-name h3 {
    font-size: 20px;
    margin-bottom: 2px;
    font-weight: 400;
    color: white;
    margin-top: 10px;
}

.sidebar-div .bottom .bottom-body .bb-element .pl-name p {
    font-size: 13px;
    margin-top: 2px;
    color: rgb(141, 141, 141);
}

.bottom {
    overflow-y: auto;
    height: calc(100vh - 200px);
}
