.sidebar-div {
    display: flex;
    flex-direction: column;
    height: 15vh;
    width: 25%;
    background-color: rgb(18, 18, 18);
    color: rgb(168, 168, 168);
    border-radius: 10px;
}

.home-btn,
.search-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 10px;
    cursor: pointer;
    margin-left: 15px;
}

.home-btn:hover,
.search-btn:hover {
    color: white;
}

.home-btn span,
.search-btn span {
    font-size: 1.5rem;
    font-weight: 600; 
    margin: 10px 20px;
}

.home-btn .home-icon,
.search-btn .search-icon {
    font-size: 2rem;
}
