.songBar-div {
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.songBar-div .song-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.songBar-div .song-info .song-img img {
    height: 60px;
    margin-left: 0;
    border-radius: 3px;
    cursor: pointer;
}

.songBar-div .song-info .song-info-text {
    margin: 0 15px;
}

.songBar-div .song-info .song-info-text h4 {
    font-size: 13px;
    font-weight: 200;
    color: white;
    margin-top: 10px;
    margin-bottom: 2px;
    cursor: pointer;
}

.songBar-div .song-info .song-info-text h4:hover {
    text-decoration: underline;
}

.songBar-div .song-info .song-info-text p {
    font-size: 12px;
    color: rgb(141, 141, 141);
    margin-top: 2px;
    cursor: pointer;
}

.songBar-div .song-info .song-info-text p:hover {
    text-decoration: underline;
}

.songBar-div .song-info .icon .fav-icon {
    font-size: 1.2rem;
    margin-right: 10px;
    cursor: pointer;
    color: rgb(141, 141, 141);
}

.songBar-div .song-info .icon .fav-icon:hover {
    color: rgb(255, 255, 255);
}

.songBar-div .center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.songBar-div .center .op {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.songBar-div .center .op .icon {
    margin: 0px 5px;
    font-size: 1.3rem;
    color: rgb(141, 141, 141);
    cursor: pointer;
}

.songBar-div .center .op .icon:hover {
    color: rgb(255, 255, 255);
}

.songBar-div .center .op .play-icon,
.songBar-div .center .op .pause-icon {
    font-size: 2.2rem;
    margin-right: 10px;
    color: white;
}

.songBar-div .center .op .prev-icon,
.songBar-div .center .op .next-icon {
    font-size: 1.7rem;
    margin-right: 10px;
    color: rgb(188, 188, 188);
}

.songBar-div .center .slide-div {
    margin-top: 0;
    display: flex;
    align-items: center;
}

.songBar-div .center .slide-div .slider {
    height: 0.5vh;
    width: 500px;
    margin: 0 5px;
    cursor: pointer;
}

.songBar-div .center .slide-div p {
    font-size: 13px;
    color: rgb(141, 141, 141);
}

.songBar-div .right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 45px;
}

.songBar-div .right-side .icon {
    margin: 6px;
    font-size: 1.3rem;
    color: rgb(141, 141, 141);
    cursor: pointer;
}

.songBar-div .right-side .volume {
    height: 0.3vh;
    width: 100px;
    margin-left: 0;
}

.songBar-div .right-side .icon:hover {
    color: rgb(255, 255, 255);
}
