.songBar-div {
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.songBar-div .song-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.songBar-div .song-info .song-img img {
    height: 40px;
    margin-right: 10px;
}

.songBar-div .song-info .song-info-text h4 {
    font-size: 15px;
    margin-bottom: 2px;
    font-weight: 400;
    color: white;
    margin-right: 10px;
}

.songBar-div .song-info .song-info-text p {
    font-size: 12px;
    margin-top: 2px;
    color: rgb(141, 141, 141);
}

.songBar-div .song-info .icon .fav-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    cursor: pointer;
    color: white;
}