.songBar-div {
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.songBar-div .song-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.songBar-div .song-info .song-img img {
    height: 45px;
    margin-left: 0;
    border-radius: 3px;
}

.songBar-div .song-info .song-info-text {
    margin: 0 15px;
}

.songBar-div .song-info .song-info-text h4 {
    font-size: 13px;
    font-weight: 200;
    color: white;
    margin-top: 10px;
    margin-bottom: 2px;
}

.songBar-div .song-info .song-info-text p {
    font-size: 12px;
    color: rgb(141, 141, 141);
    margin-top: 2px;
}

.songBar-div .song-info .icon .fav-icon {
    font-size: 1.2rem;
    margin-right: 10px;
    cursor: pointer;
    color: rgb(141, 141, 141);
}

.songBar-div .song-info .icon .fav-icon:hover {
    color: rgb(255, 255, 255);
}

.songBar-div .center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.songBar-div .center .icon {
    margin: 5px;
    font-size: 1.5rem;
    color: rgb(141, 141, 141);
    cursor: pointer;
}

.songBar-div .center .icon:hover {
    color: rgb(255, 255, 255);
}

.songBar-div .center .play-icon {
    font-size: 2.5rem;
    margin-right: 10px;
    color: white;
    border-radius: 50%;
    transition: box-shadow 0.3s;
}

.songBar-div .center .prev-icon,
.songBar-div .center .next-icon {
    font-size: 2.2rem;
    margin-right: 10px;
    color: rgb(188, 188, 188);
}

.songBar-div .right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
}

.songBar-div .right-side .icon {
    margin: 7px;
    font-size: 1.3rem;
    color: rgb(141, 141, 141);
    cursor: pointer;
}

.songBar-div .right-side .icon:hover {
    color: rgb(255, 255, 255);
}